* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /* border: 1px solid red; */
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-2 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.svgCon {
  height: 100%;
  flex: 1;
  width: 100%;
}

#my_dataviz {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.btns {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.btns button {
  width: 50px;
  height: 40px;
  font-size: 24px;
  margin-right: 4px;
  cursor: pointer;
}
