*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  border: 1px solid red;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#my_dataviz{
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}